<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMS.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OfficeAutomationConnectionString" connectionString="Data Source=192.168.1.120;Initial Catalog=TestBrokerDb;Persist Security Info=True;User ID=sa;Password=develop!QAZ;MultipleActiveResultSets=True"></add>

  </connectionStrings>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="RepoLib.RTS.OfficeAutomation.Services.Test.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/RepoLib.RTS.OfficeAutomation.Services.Test/Service1/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="wsHttpBinding" contract="RepoLib.RTS.OfficeAutomation.Services.Test.IService1">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="CompositeSmsGatewayServiceSoapBinding"/>
        <binding name="MessagingServiceSoapBinding"/>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://ws.asanak.ir:8082/services/CompositeSmsGateway" binding="basicHttpBinding" bindingConfiguration="CompositeSmsGatewayServiceSoapBinding" contract="CompositeSmsGatewayService.CompositeSmsGateway" name="CompositeSmsGateway"/>
      <endpoint address="http://ws.adpdigital.com/services/MessagingService" binding="basicHttpBinding" bindingConfiguration="MessagingServiceSoapBinding" contract="SMSSend.JaxRpcMessagingService" name="MessagingService"/>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <add key="SmsProviderId" value="1"/>
    <add key="DefaultUserId" value="2"/>
    <add key="PersonageServiceUrl" value="http://localhost:2121/Profiler/PersonageService.svc,MarketPortalServer,100"/>

    <add key="TemplatesPath" value="C:\TemplatesFolder\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <SMS.Win.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>soshya</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>soshya4876</value>
      </setting>
      <setting name="SourceNumber" serializeAs="String">
        <value>9820004876</value>
      </setting>
      <setting name="UrlAddress" serializeAs="String">
        <value>ws.adpdigital.com</value>
      </setting>
    </SMS.Win.Properties.Settings>
  </userSettings>
</configuration>
